* {
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 4px;
}

body {
    background-color: #ffffff;
}

nav {
    display: table;
    height: 10vh;
    background-color: #4aaaa5;
    width: 10%;
    margin-left: 100px;
}

.name {
    color: #ffffff;
    display: table-cell;
    vertical-align: middle;
}

.container {
    position: absolute;
    height: 300px;
    width: 700px;
    border-radius: 10px;
    background-color: #cccccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-header {
    height: 25%;
    width: 100%;
    display: table;
    background-color: #ffffff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-header-text {
    display: table-cell;
    vertical-align: middle;
    color: #4aaaa5;
    font-size: 30px;
}

.card-image {
    width: 50px;
    height: 50px;
}

main {
    height: 80vh;
    position: relative;
}

.card-text {
    padding: 15px;
}

.nav-link-container {
    display: table;
    float: right;
    height: 10vh;
    margin-left: 700px;
    background-color: #ffffff;
}

.nav-link {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #777777;
}

.name,
.nav-link {
    letter-spacing: 5px;
}

footer {
    height: 10vh;
    background-color: #666666;
}