* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    box-sizing: border-box;
}

body {
    background-color: beige;
}

nav {
    display: table;
    height: vh10;
    background-color: #ffffff;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 1px solid #666666;
}

.name {
    color: #ffffff;
    background-color: #4aaaa5;
    display: table-cell;
    float: left;
    padding-top: 24px;
    padding-left: 20px;
    padding-right: 20px;
    height: 10vh;
    margin-left: 235px;
}

.nav-link-container {
    display: table;
    margin-right: 235px;
    float: right;
    height: 10vh;
}

.nav-link {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: #666666;
}

.nav-link:not(:last-child) {
    padding-right: 20px;
}

main {
    height: 80vh;
    position: relative;
}

.container {
    position: absolute;
    height: 450px;
    width: 960px;
    border-radius: 4px;
    background-color: #cccccc;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-header {
    height: 25%;
    width: 100%;
    display: table;
    background-color: #ffffff;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

hr {
    background-color: #666666;
    width: 95%;
    margin-left: 25px;
}

.card-header-text {
    display: table-cell;
    vertical-align: middle;
    color: #4aaaa5;
    background-color: #cccccc;
    font-size: 30px;
    padding-left: 20px;
}

.main-content {
    float: left;
    padding: 15px;
}

.card-text {
    padding: 15px;
    background-color: #cccccc;
    color: #666666;
    height: 350px;
    line-height: 50px;
}

footer {
    height: 10vh;
    background-color: #666666;
    color: #ffffff;
    font-size: 8px;
    text-align: center;
    border-top: 6px solid #4aaaa5;
}

.footer-text {
    padding-top: 20px;
}