* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;
}

header {
    height: 12vh;
    display: table;
    background-color: #34495e;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3 {
    color: white;
    display: table-cell;
    padding-left: 200px;
    vertical-align: middle;
}

nav {
    display: table;
    float: right;
    height: 12vh;
    margin-right: 200px;
}

a {
    display: table-cell;
    vertical-align: middle;
    text-decoration: none;
    color: white;
}

main {
    min-height: 80vh;
    background-color: #ecf0f1;
    position: relative;
    border-color: #dddddd;
}

footer {
    height: 10vh;
    background-color: #666666;
    border: 3px solid teal;
}